{% load staticfiles %}
{% load shared_elements %}
{% load socialaccount %}
{% providers_media_js %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-Compatible" content="IE=edge">

    <title>21</title>


    <!-- dependencies -->
    <link href="{% static 'vendor/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>


    <!-- icon-logo -->
    <link rel="icon" type="image/png" href="{% static 'branding/logo.png' %}">


    <!-- additional-loads -->
    <link rel="stylesheet" href="{% static 'vendor/toastr/toastr.min.css' %}">


    <!-- additional-headers -->
    {% block head %}{% endblock %}
</head>
<body>
    <!-- container -->
    <div class="container">

        <div class="row">
            <div class="col-md-3 sidebar">

                    <!-- navbar -->
                    <nav class="navbar navbar-light navbar-static-top">
                        <div class="sidebar-container">
                            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/" class="navbar-brand navbar-brand-logo">
                                        <img src="{% static 'branding/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                                {% if request.user.is_authenticated %}
                                    <ul class="nav nav-stacked">
                                        {% nav_link 'New Habit' 'habit:create' 'outline' %}
                                    </ul>
                                    <ul class="nav nav-stacked">
                                        <li class="navbar-subheader">More</li>
                                        {% nav_link 'Settings' '' 'outline' %}
                                        {% nav_link 'Integrations' '' 'outline' %}
                                        {% nav_link 'Encouragements' '' 'outline' %}
                                    </ul>
                                    <ul class="nav nav-stacked">
                                        <form method="post" action="{% url 'account_logout' %}">
                                            {% csrf_token %}
                                            {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                            {% endif %}
                                            <li class="nav-item"><button class="btn btn-sm btn-block text-sm-left btn-outline-info" type="submit">Sign Out</button></li>
                                        </form>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                    <!-- /navbar -->

            </div>
            <!-- content -->
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /container -->


    <!-- scripts -->
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}
        <!-- no extra scripts were loaded -->
    {% endblock %}
    <!-- /scripts -->


    <!-- toastr-notifications -->
    {% if messages %}
        <script src="{% static 'vendor/toastr/toastr.min.js' %}"></script>
        <script>toastr.options.positionClass = "toast-bottom-right";</script>
        <script>
            {% for message in messages %}
                toastr.{{ message.tags }}('{{ message|safe }}');
            {% endfor %}
        </script>
    {% endif %}
    <!-- /toastr-notifications -->


    <footer class="footer">
        <div class="container">
            <p class="text-muted"><small>&copy; 2016 Daniel van Flymen | <a href="https://www.youtube.com/watch?v=GTjjVu3hf3E&t=16s" target="_blank">Made in a YouTube Video</a></small></p>
        </div>
    </footer>
</body>
</html>
